<!-- Header -->
<header id="header" class="clearfix" data-ma-theme="blue" *ngIf="isLogged" (enableExpTime)="expTimeActivated($event)">
    <ul class="h-inner">
        <!-- Logo y título -->
        <li class="hi-logo">
            <a [routerLink]="['home']" style="padding: 4px 10px;">
                <img src="http://cdntec.azureedge.net/img/logotec.png" style="width: 116px;">
                &nbsp;&nbsp;|&nbsp;&nbsp;
            </a>
            <a [routerLink]="['preregistro']" style="padding: 4px 10px;">
                <strong>{{title}}</strong>
            </a>
        </li>

        <!-- Opciones -->
        <li class="pull-right">
            <ul class="hi-menu">
                <!-- Mi Solicitud -->
                <li class="dropdown hidden-xs" *ngIf="!hideOptionByRol.solicitud">
                    <a routerLinkActive="activo" [routerLink]="['solicitud']">
                        <span class="him-label">Mi Solicitud</span>
                    </a>
                </li>
                <!-- Solicitudes -->
                <li class="dropdown hidden-xs" *ngIf="!hideOptionByRol.solicitudes">
                    <a routerLinkActive="activo" [routerLink]="['solicitudes']">
                        <span class="him-label">Solicitudes</span>
                    </a>
                </li>
                <!-- Roles -->
                <li class="dropdown hidden-xs" *ngIf="!hideOptionByRol.roles">
                    <a routerLinkActive="activo" [routerLink]="['roles']">
                        <span class="him-label">Roles</span>
                    </a>
                </li>
                <!-- Agregar aviso -->
                <li class="dropdown hidden-xs" *ngIf="!hideOptionByRol.aviso">
                    <a routerLinkActive="activo" [routerLink]="['add-aviso']">
                        <span class="him-label">Agregar aviso</span>
                    </a>
                </li>

                <li class="dropdown hidden-xs">
                    <a data-toggle="dropdown" href="" aria-expanded="false">
                        <span class="him-label"><i class="fas fa-user-circle"
                                style="font-size: 25px; margin-right:6px"></i> <span
                                style="margin-right: 6px">{{user.rfc}}</span> <i
                                class="zmdi zmdi-caret-down"></i></span>
                    </a>
                    <ul class="dropdown-menu dm-icon pull-right">
                        <li style="text-align:center">
                            <a href="" style="font-weight:bold">{{user.email}}</a>
                        </li>
                        <hr>
                        <li *ngIf="currentRol==='admin'">
                            <a [routerLink]="['/configuracion']"><i class="zmdi zmdi-settings"></i>Configuraciones</a>
                        </li>
                        <hr *ngIf="currentRol==='admin'">
                        <li *ngIf="generateQuickProvider && currentRol==='comprador'">
                            <a (click)="openDialog()"><i class="zmdi zmdi-plus-circle"></i> Crear usuario proveedor</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-receipt"></i> Ticket de Soporte</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-comment-text-alt"></i> Chat en Línea</a>
                        </li>
                        <hr>
                        <li>
                            <a href=""><i class="zmdi zmdi-flag"></i> Inglés</a>
                        </li>
                        <li>
                            <a href=""><i class="zmdi zmdi-flag"></i> Español</a>
                        </li>
                        <hr>
                        <li class="dropdown hidden-xs" style="text-align:center">
                            <a routerLinkActive="activo" style="font-weight:bold" (click)="logOut()"> Log Out </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</header>
<span class="chat-logo" *ngIf="isLogged && currentRol=='proveedor'"><i class="far fa-comments"></i></span>