<mat-card class="example-card">
    <span class="closeModal" (click)="closeAsModal()" *ngIf="showAsModal"><i class="fa fa-window-close" aria-hidden="true"></i></span>
  <img mat-card-image src="http://cdntec.azureedge.net/img/logotec.png" alt="ITESM LOGO">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table cellspacing="0" [formGroup]="userForm">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="RFC" formControlName="rfc" name="rfc" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" name="email" required>
              <mat-error *ngIf="email.invalid && email.errors.email">Invalid email address</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="password" type="password" name="password"
                required>
            </mat-form-field>
            <mat-list *ngIf="userForm.controls['password'].touched && userForm.controls['password'].invalid">
              <mat-list-item>
                <label class="col"
                  [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                  <i [ngClass]="userForm.controls['password'].hasError('required') ||
                    userForm.controls['password'].hasError('minlength') ? 'fas fa-times-circle' :
                   'fas fa-check-circle'"></i>
                  Minimo 8 caracteres!
                </label>
              </mat-list-item>
              <mat-list-item>
                <label class="col"
                  [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                  <i [ngClass]="userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasNumber') ? 'fas fa-times-circle' :
                'fas fa-check-circle'"></i>
                  Incluir minimo 1 numero!
                </label>
              </mat-list-item>
              <mat-list-item>
                <label class="col"
                  [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                  <i [ngClass]="userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasCapitalCase') ? 'fas fa-times-circle' :
                'fas fa-check-circle'"></i>
                  Incluir minimo 1 letra en mayuscula!
                </label>
              </mat-list-item>
              <mat-list-item>
                <label class="col"
                  [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                  <i [ngClass]="userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasSmallCase') ? 'fas fa-times-circle' :
                'fas fa-check-circle'"></i>
                  Incluir minimo 1 letra en miniscula!
                </label>
              </mat-list-item>
              <mat-list-item>
                <label class="col"
                  [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                  <i [ngClass]="userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasSpecialCharacters') ? 'fas fa-times-circle' :
                'fas fa-check-circle'"></i>
                  Minimo incluir 1 caracter special!
                </label>
              </mat-list-item>
            </mat-list>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Reapet Password" formControlName="repeatPassword" type="password"
                name="repeatPassword" required>
              <mat-error *ngIf="repeatPassword.invalid && repeatPassword.errors.passwordMatch">Password mismatch
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field *ngIf="showAsModal">
              <mat-label>Rol</mat-label>
              <mat-select formControlName="rol" name="rol" required>
                <mat-option *ngFor="let rol of roles" [value]="rol.value">
                  {{rol.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="register()" color="primary">Register</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="!showAsModal">
    <span>Already have an account ? <a [routerLink]="['/auth/login']">login</a> here</span>
  </mat-card-actions>
</mat-card>