<section id="content" class="content-alt">

  <div class="container">

    <!-- Header -->
    <div class="block-header">
      <h2>Agrega un aviso</h2>
    </div>

    <form class="row" [formGroup]="avisoForm" (ngSubmit)="enviarAviso(modalAviso)">
      <div class="col-xs-12">

        <div class="card">
          <div class="card-header bgm-blue">
            <h2>Aviso</h2>
          </div>
          
          <div class="card-body card-padding">
            <div class="row">
              
              <!-- Título -->
              <div class="col-xs-12">
                <div class="form-group has-feedback"
                    [ngClass]="{ 'has-error': fh.validateField(avisoForm, 'title') }">
                  <div class="fg-line">
                    <label class="control-label">
                      Título:*
                    </label>
                    <input id="title" type="text"
                          class="form-control"
                          placeholder="Título"
                          formControlName="title"
                          required>
                    <small class="help-block"
                      *ngIf="fh.validateField(avisoForm, 'title')">
                      Ingresa un dato válido
                    </small>
                  </div>
                </div>
              </div>

              <!-- Texto -->
              <div class="col-xs-12">
                  <div class="form-group has-feedback"
                      [ngClass]="{ 'has-error': fh.validateField(avisoForm, 'description') }">
                    <div class="fg-line">
                      <label class="control-label">
                        Texto:*
                      </label>
                      <input id="description" type="text"
                             class="form-control"
                            placeholder="Descripción"
                            formControlName="description"
                            required>
                      <small class="help-block"
                        *ngIf="fh.validateField(avisoForm, 'description')">
                        Ingresa un dato válido
                      </small>
                    </div>
                  </div>
              </div>

              <!-- Fecha inicio -->
              <div class="col-xs-6">
                  <div class="form-group has-feedback"
                      [ngClass]="{ 'has-error': fh.validateField(avisoForm, 'start') }">
                    <div class="fg-line">
                        <mat-form-field>
                          <input matInput 
                            [matDatepicker]="pickerStart" 
                            placeholder="Fecha Inicio: *" 
                            formControlName="start">
                          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                          <mat-datepicker #pickerStart></mat-datepicker>
                        </mat-form-field>
                      <small class="help-block"
                        *ngIf="fh.validateField(avisoForm, 'start')">
                        Ingresa un dato válido
                      </small>
                    </div>
                  </div>
              </div>

              <!-- Fecha fin -->
              <div class="col-xs-6">
                  <div class="form-group has-feedback"
                      [ngClass]="{ 'has-error': fh.validateField(avisoForm, 'end') }">
                    <div class="fg-line">
                        <mat-form-field>
                          <input matInput 
                            [matDatepicker]="pickerEnd" 
                            placeholder="Fecha Fin: *" 
                            formControlName="end">
                          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                          <mat-datepicker #pickerEnd></mat-datepicker>
                        </mat-form-field>
                      <small class="help-block"
                        *ngIf="fh.validateField(avisoForm, 'end')">
                        Ingresa un dato válido
                      </small>
                    </div>
                  </div>
              </div>
              
              <!-- Instituciones -->
              <div class="col-xs-12 p-0 m-b-20 has-feedback"
                  [ngClass]="{ 'has-error': instituciones.invalid && (instituciones.dirty || instituciones.touched) }">
                <div class="col-md-12" formArrayName="instituciones">
                  <p class="control-label f-500 m-b-20">Instituciones</p>
                  <!-- Checkbox Todas -->
                  <label class="checkbox checkbox-inline m-r-20">
                    <input type="checkbox"
                        [checked]="selectInstituciones"
                        (change)="selectAllInstituciones()">
                      <i class="input-helper"></i>
                      Todas
                    </label>

                    <!-- Checkboxes de Instituciones -->
                    <label class="checkbox checkbox-inline m-r-20"
                          *ngFor="let institucion of instituciones.controls; let i=index">
                      <input type="checkbox"
                          [formControlName]="i"
                          (change)="selectInstituciones = false">
                      <i class="input-helper"></i>
                      {{todasInstituciones[i]}}
                    </label>
                </div>
                <small class="help-block p-l-15"
                      *ngIf="instituciones.invalid && (instituciones.dirty || instituciones.touched)">
                  Ingresa un dato válido
                </small>
              </div>
                        
              <!-- Enviar -->
              <div class="btn-demo" style="text-align: right;">
                  <button type="submit"
                      class="btn btn-primary btn-lg waves-effect">
                      Enviar
                  </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </form>

  </div>

</section>

<!-- Modal Enviado -->
<ng-template #modalAviso>
    <div class="modal-dialog">
        <!-- Encabezado -->
        <div class="modal-header">
            <h4>Aviso registrado</h4>
        </div>
        <!-- Cuerpo -->
        <div class="modal-body">
            <p>Se ha registrado el aviso.</p>
        </div>
        <!-- Cerrar -->
        <div class="modal-footer">
            <button type="button"
                class="btn btn-link"
                data-dismiss="modal"
                (click)="modalAvisoRef.hide()">
                Salir
            </button>
        </div>
    </div>
</ng-template>