<mat-card class="example-card">
  <span class="closeModal" (click)="closeAsModal()"><i class="fa fa-window-close" aria-hidden="true"></i></span>
  <img mat-card-image src="http://cdntec.azureedge.net/img/logotec.png" alt="ITESM LOGO">
  <mat-card-header>
    <mat-card-title>Crear usuario proveedor</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="RFC" [(ngModel)]="rfc">
          </mat-form-field>
        </td>
      </tr>
      <!-- <tr>
        <td>
          <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="email">
          </mat-form-field>
        </td>
      </tr> -->
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="createUser()" class="btn btn-primary btn-lg waves-effect">Generar</button>
  </mat-card-actions>
</mat-card>