<section id="content" class="content-alt">
    <div class="container">

    	<div class="block-header">
    	    <!-- <h2>Avisos Proveedores</h2> -->
    	</div>

    	<div class="row">
    	    <div class="col-md-12">

                <!-- Aviso -->
				<div *ngFor="let aviso of avisos" 
					class="alert alert-warning alert-dismissible" 
					role="alert" 
					style="border-radius:8px; margin-bottom: 30px;">
                    <!-- Close -->
    	            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <!-- Título -->
                    <p class="c-white f-500 m-b-20" style="font-size: 16px;">
                        {{aviso.title}}
                    </p>
                    <!-- Texto -->
    	           <p>{{aviso.description}}</p>
    	        </div>

    	        <div class="row">
    	            <div class="col-md-6">
    	                <div class="card">
    	                    <div class="card-header bgm-blue">
    	                        <h2>Requisitos</h2>
                            </div>
    	                    <div class="card-body card-padding">
                                <div class="list-group">
                                <a class="list-group-item media" href="">
    	                                <div class="pull-left">
    	                                    <i class="zmdi zmdi-file-text" style="font-size: 51px;"></i>
    	                                </div>
    	                                <div class="media-body">
    	                                    <div class="lgi-heading">Requisitos Fiscales</div>
    	                                    <small class="lgi-text">Para ser proveedor del Tecnológico de Monterrey deberás cumplir con los requisitos fiscales, de acuerdo al bien o servicio prestado.</small>
    	                                </div>
    	                            </a>
    	                            <a class="list-group-item media" href="">
                                        <div class="pull-left">
	                                        <i class="zmdi zmdi-file-text" style="font-size: 51px;"></i>
    	                                </div>
    	                                <div class="media-body">
    	                                    <div class="lgi-heading">Requisitos de Facturación</div>
    	                                    <small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
    	                                </div>
    	                            </a>
    	                            <a class="list-group-item media" href="">
    	                                <div class="pull-left">
    	                                    <i class="zmdi zmdi-file-text" style="font-size: 51px;"></i>
                                        </div>
	                                    <div class="media-body">
    	                                    <div class="lgi-heading">Requisitos de Entrega</div>
    	                                    <small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
    	                                </div>
    	                            </a>
    	                        </div>
    	                    </div>
    	                </div>
    	            </div>
    	            <div class="col-md-6">
    	                    <div class="card">
    	                        <div class="card-header bgm-blue">
    	                            <h2>Accesos</h2>
                                </div>
	                            <div class="card-body card-padding">
    	                            <div class="row">
    	                                <a href="index2.html" class="col-md-6" style="text-align: center;">
    	                                    <i class="zmdi zmdi-file-text" style="font-size: 51px;"></i>
    	                                    <p>Formulario de alta/actualización</p>
    	                                </a>
    	                                <a href="" class="col-md-6" style="text-align: center;">
    	                                    <i class="zmdi zmdi-file-text" style="font-size: 51px;"></i>
    	                                    <p>Subir/verificar facturas</p>
                                        </a>
	                                    
    	                            </div>
    	                        </div>
    	                    </div>
    	                    <div class="card">
    	                            <div class="card-header bgm-blue">
    	                                <h2>Ayuda</h2>
    	                            </div>
    	                            <div class="card-body card-padding">
                                        <div class="list-group">
	                                        <a class="list-group-item media" href="">
    	                                        <div class="media-body">
    	                                            <div class="lgi-heading">Preguntas Frecuentes</div>
    	                                        </div>
    	                                    </a>
    	                                    <a class="list-group-item media" href="">
    	                                        <div class="media-body">
    	                                            <div class="lgi-heading">Guía Rápida para uso del Portal</div>
    	                                        </div>
    	                                    </a>
    	                                    <a class="list-group-item media" href="">
    	                                        <div class="media-body">
                                                    <div class="lgi-heading">Manual para darse de alta en el Portal</div>
	                                            </div>
    	                                    </a>
    	                                </div>
    	                            </div>
    	                        </div>
    	                    </div>
    	        </div>
    	            

    	            
    	    </div>
    	</div>

    </div>
</section>